<style>
    .message-box {
        display:flex;
        flex-wrap: nowrap;
        gap:10px;
        align-items: center;
        justify-content: flex-start;
        opacity:0;
        background: rgb(123, 113, 7);
        color:white;
        padding:10px 40px;
        border-radius:8px;
        position:absolute;
        top:10px;
        max-width:500px;
        width:100%;
        font-size:18px;
        left:30%;
        animation:animate 7s linear;
        z-index:5000;
    }

    @keyframes animate {
        0%{
            opacity:0px;
        }
        50%{
            opacity:1;
        }
        100%{
            opacity:0px;
        }
    }
</style>

{% if messages %}
{% for message in messages %}
        <div class="message-box">
            <div>
                <i class="fa-solid fa-bolt"></i>
            </div>
            <div>{{ message }}</div>
        </div>
{% endfor %}
</div>
{% endif %}